
/* overrides of the main styles
   https://pmarsceill.github.io/just-the-docs/docs/customization/
*/


// the default styles hide the triangle. we don't want that
summary {
    display: list-item;
}

#main-program-code {
    line-height: 1.05;
}
