
/* overrides of the main styles
   https://pmarsceill.github.io/just-the-docs/docs/customization/
*/


// the default styles hide the triangle. we don't want that
summary {
    display: list-item;
}

#main-program-code, .aux-program-code {
    line-height: 1.05;
}

span.program-code-link-sep {
    // display: inline-block;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
